<div class="numbers-container">
  <div class="container">
    <div class="row">
      <p>Ticket number #{{ ticketNumber }}</p>
      <div class="col-sm-1" *ngFor="let number of numbers">
        <div class="form-check">
          <input
            [id]="ticketNumber + 'checkbox' + number"
            class="form-check-input"
            type="checkbox"
            [checked]="selectedNumbers.includes(number)"
            disabled="true"
          />
          <label class="form-check-label" style="margin: 1px">{{
            number
          }}</label>
        </div>
      </div>
    </div>
  </div>
</div>
